<?xml version="1.0" encoding="utf-8"?>
<manifest package="rs.lukaj.android.stories"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.StoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_story"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.StoryEditorActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.BookEditorActivity"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.BookEditorActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/login"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.LoginActivity"/>
        </activity>
        <activity
            android:name=".ui.PublishBookActivity"
            android:label="@string/publish_book"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.UserInfoActivity"
            android:label="@string/my_account"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.CodeEditorActivity"
            android:label="@string/code_editor"
            android:parentActivityName=".ui.BookEditorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.BookEditorActivity"/>
        </activity>
        <activity
            android:name=".ui.BookListActivity"
            android:label="@string/book_list"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.MainActivity"/>
        </activity>
    </application>

</manifest>