<?xml version="1.0" encoding="utf-8"?>
<manifest package="rs.lukaj.android.stories"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.BookListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.StoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_story"
            android:parentActivityName=".ui.BookListActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.BookListActivity"/>
        </activity>
        <activity
            android:name=".ui.StoryEditorActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.BookEditorActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.BookListActivity"/>
        </activity>
        <activity
            android:name=".ui.BookEditorActivity"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ui.BookListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.lukaj.android.stories.ui.BookListActivity"/>
        </activity>
    </application>

</manifest>